<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="Itransition.Net.RuleSet" Description="Code analysis rules for any project" ToolsVersion="15.0">
  <Include Path="allrules.ruleset" Action="Default" />
  <Rules AnalyzerId="Microsoft.Analyzers.ManagedCodeAnalysis" RuleNamespace="Microsoft.Rules.Managed">
    <Rule Id="CA1004" Action="Warning" />
    <Rule Id="CA1006" Action="Warning" />
    <Rule Id="CA1011" Action="Warning" />
    <Rule Id="CA1014" Action="None" />
    <Rule Id="CA1020" Action="None" />
    <Rule Id="CA1021" Action="Warning" />
    <Rule Id="CA1024" Action="Warning" />
    <Rule Id="CA1026" Action="Warning" />
    <Rule Id="CA1031" Action="Warning" />
    <Rule Id="CA1032" Action="Warning" />
    <Rule Id="CA1040" Action="Warning" />
    <Rule Id="CA1051" Action="Warning" />
    <Rule Id="CA1062" Action="None" />
    <Rule Id="CA1302" Action="Warning" />
    <Rule Id="CA1303" Action="Warning" />
    <Rule Id="CA1304" Action="None" />
    <Rule Id="CA1305" Action="None" />
    <Rule Id="CA1309" Action="None" />
    <Rule Id="CA1502" Action="Warning" />
    <Rule Id="CA1504" Action="Warning" />
    <Rule Id="CA1505" Action="Warning" />
    <Rule Id="CA1506" Action="Warning" />
    <Rule Id="CA1702" Action="Warning" />
    <Rule Id="CA1708" Action="Warning" />
    <Rule Id="CA1709" Action="Warning" />
    <Rule Id="CA1716" Action="None" />
    <Rule Id="CA1724" Action="None" />
    <Rule Id="CA1800" Action="Warning" />
    <Rule Id="CA1801" Action="Warning" />
    <Rule Id="CA1809" Action="Warning" />
    <Rule Id="CA1810" Action="Warning" />
    <Rule Id="CA1811" Action="Warning" />
    <Rule Id="CA1815" Action="Warning" />
    <Rule Id="CA1816" Action="Warning" />
    <Rule Id="CA1819" Action="None" />
    <Rule Id="CA1822" Action="Warning" />
    <Rule Id="CA1824" Action="None" />
    <Rule Id="CA2000" Action="Warning" />
    <Rule Id="CA2002" Action="Warning" />
    <Rule Id="CA2104" Action="Warning" />
    <Rule Id="CA2204" Action="Warning" />
    <Rule Id="CA2210" Action="None" />
    <Rule Id="CA2215" Action="Warning" />
    <Rule Id="CA2227" Action="None" />
    <!-- Do not nest type Closure. Alternatively, change its accessibility so that it is not externally visible.	-->
    <Rule Id="CA1034" Action="None" />
  </Rules>
  <Rules AnalyzerId="Microsoft.ApiDesignGuidelines.Analyzers" RuleNamespace="Microsoft.ApiDesignGuidelines.Analyzers">
    <Rule Id="CA2007" Action="Warning" />
  </Rules>
  <Rules AnalyzerId="Microsoft.CodeAnalysis.CSharp" RuleNamespace="Microsoft.CodeAnalysis.CSharp">
    <Rule Id="AD0001" Action="Warning" />
    <Rule Id="CS1591" Action="Error" />
  </Rules>
  <Rules AnalyzerId="SonarAnalyzer.CSharp" RuleNamespace="SonarAnalyzer.CSharp">
    <!--https://rules.sonarsource.com/csharp/RSPEC-1066 Collapsible "if" statements should be merged -->
    <Rule Id="S1066" Action="None" />
    <!--https://rules.sonarsource.com/csharp/RSPEC-1104 Fields should not have public accessibility -->
    <Rule Id="S1104" Action="None" />
    <!--https://rules.sonarsource.com/csharp/RSPEC-1135 Track uses of "TODO" tags -->
    <Rule Id="S1135" Action="None" />
  </Rules>
  <Rules AnalyzerId="StyleCop.Analyzers" RuleNamespace="StyleCop.Analyzers">
    <Rule Id="SA1101" Action="None" />
    <!-- The parameters must all be placed on the same line or each parameter must be placed on its own line. -->
    <Rule Id="SA1117" Action="None" />
    <Rule Id="SA1121" Action="Warning" />
    <Rule Id="SA1122" Action="None" />
    <Rule Id="SA1124" Action="Warning" />
    <Rule Id="SA1201" Action="None" />
    <Rule Id="SA1202" Action="None" />
    <Rule Id="SA1204" Action="None" />
    <Rule Id="SA1210" Action="None" />
    <Rule Id="SA1308" Action="Error" />
    <Rule Id="SA1309" Action="Error" />
    <Rule Id="SA1407" Action="None" />
    <Rule Id="SA1600" Action="Error" />
    <Rule Id="SA1602" Action="None" />
    <Rule Id="SA1633" Action="None" />
    <Rule Id="SA1636" Action="None" />
    <Rule Id="SA1649" Action="Error" />
    <Rule Id="SA1652" Action="None" />
    <Rule Id="SX1309" Action="None" />
    <Rule Id="SX1309S" Action="None" />
    
  </Rules>
</RuleSet>